<h1>Profile</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<h2>User_name</h2>
<%= @user.user_name %> <br />
<br />
<%= @user.first_name %> 
<br />
<%= @user.last_name %> 
<br />
<%= @user.email %> 
<br />
<%= @user.encrypted_password %> 
<br />
<%= @user.location %> 
<br />
<%= @user.its_female %> 
<br />
<%= @user.date_of_birth %> 
<br />
<%= @user.bio %> 
<br />
<%= @user.avatar_url %> 
<br />
<%= @user.bg_url %> 
<br />
- - - - 
<br />
<strong>Avatar avatar_url</strong><br />
<img src="<%= @user.avatar_url %> " height="50px">

<br /><strong>Background bg_url </strong><br />
<img src="<%= @user.bg_url %> " height="200px">

<br />
<%= link_to "Edit Profile", edit_user_registration_path %>
<%= link_to "Back", :back %>


	<nav class="nav--main" role="navigation">
      <ul>
        <li>
          <a href="#">
            <h1 class="logo">Logo</h1>
          </a>
        </li>
        <li>
          <a href="<%= articles_path %>">
            <i class="icon-lightbulb"></i>
          </a>
        </li>
        <li>
          <a href="<%= events_path %>">
            <i class="icon-calendar"></i>
          </a>
        </li>
        <li>
          <a href="<%= funds_path %>">
            <i class="icon-pound"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-person"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-comment-o"></i>
          </a>
        </li>
        <li class="nav--main__profile-cont">
          <a href="/<%= current_user.user_name %>">
            <img src="<%= current_user.avatar_url %>" alt="" class="nav--main__profile">
          </a>
        </li>
      </ul>
    </nav>
