<h1>Profile</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<h2>User_name</h2>
<%= @user.user_name %> <br />
<br />
<%= @user.first_name %> 
<br />
<%= @user.last_name %> 
<br />
<%= @user.email %> 
<br />
<%= @user.encrypted_password %> 
<br />
<%= @user.location %> 
<br />
<%= @user.its_female %> 
<br />
<%= @user.date_of_birth %> 
<br />
<%= @user.bio %> 
<br />
<%= @user.avatar_url %> 
<br />
<%= @user.bg_url %> 
<br />
- - - - 
<br /><br />
<img src="<%= @user.avatar_url %> " height="50px">