<div class="main__content content--profile">
  <div class="profile-content">
    <div class="profile__img--main">
      <img src="<%= @user.avatar.url(:thumb) %>" alt="" class="profile">
    </div>
    <div class="profile__info--main">
      <h1 class="profile__header type--light"><%= @user.first_name %> <%= @user.last_name %></h1>
      <h2 class="h6 type--light"><i class="fa fa-map-marker"></i><%= @user.location_list %></h2>
      <p class="profile__stub"><%= @user.bio %> </p>
      <p class="profile__stub">Skills: <%= @user.skill_list %></p>
      <% if can? :edit, @user %>
      	<%= link_to "Edit Profile", edit_user_registration_path, :class => "btn btn--primary" %>
      <% end %>
    </div>
  </div>
</div>
<style>
body {
	background: url(<%= @user.backgroundimg.url %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
