<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Campfire // Jamie Halvorson">
  
  <title>Ignited Minds</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">




</head>


<body>

  <div class="wrapper">




    <div id="myCarousel" class="carousel slide" data-ride="carousel" interval="false">






      <div class="carousel-inner">


        <div class="item active">

          <div class="container">









            <div class="signup-box center-block">
              <div class="carousel-caption center-block">

                <div class="sign-up-logo"></div>



                <div class="col-md-6">


                  <div class="form-group">
                    <input type="type" class="form-control" placeholder="First Name" style="margin-left:-15px;">
                  </div>

                </div>

                <div class="col-md-6">


                  <div class="form-group">
                    <input type="type" class="form-control" placeholder="Last Name" style="margin-left:15px;">
                  </div>

                </div>



                <div class="form-group">
                  <input type="type" class="form-control" placeholder="Username">
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password (min 8 characters)">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password Conformation">
                </div>




                <form class="form-horizontal">
                  <fieldset>

                    <div class="form-group">

                      <div class="col-md-12">
                        <label class="radio-inline" for="radios-0">
                          <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                          Male
                        </label>
                        <label class="radio-inline" for="radios-1">
                          <input type="radio" name="radios" id="radios-1" value="2">
                          Female
                        </label>

                      </div>
                    </div>

                  </fieldset>
                </form>

                <div class="row" style="margin-top:10px; margin-bottom:10px;">

                  <button class="btn btn-md btn-avatar">Avatar</button><p style="display: inline; margin-left:15px;">No file chosen</p>

                </div>

                <a data-target="#myCarousel" data-slide-to="1" class="btn btn-lg btn-next" href="#" role="button">Next</a>



              </div>

            </div>

          </div>

        </div>


        <div class="item">

          <div class="container">

            <div class="signup-box center-block ">

              <div class="contours"></div>

              <div class="carousel-caption center-block ">

                <div class="you_are_here"></div>

                <h3>Your local city</h3>

                <div class="form-group">
                  <select id="email_table_items_per_page" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>





                <h3> Date of Birth</h3>

                <div class="options center-block">

                  <div class="form-group col-md-4">
                    <select id="email_table_items_per_page" class="form-control">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <select id="email_table_items_per_page" class="form-control">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <select id="email_table_items_per_page" class="form-control ">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>

                </div>


                <a data-target="#myCarousel" data-slide-to="2" class="btn btn-lg btn-next" href="#" role="button" style="margin-top:181px;">Next</a>

              </div>
            </div>

          </div>
        </div>


        <div class="item">

          <div class="container">
            <div class="signup-box center-block">

              <div class="carousel-caption center-block">

                <h2 style="margin-top:-190px!important;">Skillz.</h2>

                <p>Let us know what you're good at and interested in so we can hit you up with relevant content and opportunities.</p>



                <div class="selectors center-block" style="padding-top:25px;">
                  <p>Please select your best set of skills...</p>




                  <form class="form-horizontal">
                    <fieldset>


                      <!-- Multiple Checkboxes (inline) -->
                      <div class="form-group">

                        <div class="col-md-12">

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-0">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                              Accounting
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-1">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                              Legal Services
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-2">
                              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                              Admin
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-3">
                              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
                              Project Management
                            </label>

                          </div>


                          <div class="col-md-4">



                            <label class="checkbox-inline" for="checkboxes-0">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="5">
                              Event Management
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-1">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="6">
                              Graphic Design
                            </label>

                          </div>


                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-2">
                              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="7">
                              Film &amp; Photo
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-3">
                              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="8">
                              Web Design
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-0">
                              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="9">
                              Marketing
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-1">
                              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="10">
                              Coms &amp; PR
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-2">
                              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="11">
                              Manufacturing
                            </label>

                          </div>

                          <div class="col-md-4">

                            <label class="checkbox-inline" for="checkboxes-3">
                              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="12">
                              Programming
                            </label>

                          </div>
                        </div>
                      </div>

                    </fieldset>
                  </form>



                </div>
                <div class="you_made_it"></div>

                <p><a class="btn btn-lg btn-next" href="#" role="button">Submit</a></p>

              </div>


            </div></div></div></div>

            <!-- End carousel -->

          </div>

          <!-- End Wrapper -->

        </div>









        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



        <script src="js/jquery.js"></script>

        <script src="js/bootstrap.min.js"></script>



      </body>

      </html>






<h2>Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  	<%= f.text_field :first_name %>
  </div>

  <div><%= f.label :last_name %><br />
  	<%= f.text_field :last_name %>
  </div>

  <div><%= f.label :user_name %><br />
  	<%= f.text_field :user_name %>
  </div>

  <div>
  <%= f.radio_button :its_female, 'female', :checked => true %>
  <%= label :its_female, 'Female' %>
  <%= f.radio_button :its_female, 'male' %>
  <%= label :its_female, 'Male' %>
  </div>

  <div><%= f.label :date_of_birth %><br />
        <%= f.date_select :date_of_birth %></div><br />

 <div class="field">
  <%= f.label :location_list, "Location" %><br />
  <%= f.select :location_list, options_for_select(
  				%w[Edinburgh Perth Aberdeen Dundee Glasgow Inverness Stirling]) %>
  </div>

    <%= f.file_field :avatar %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :skill_list, "Skills (separated by commas)" %><br />
  <%= f.text_field :skill_list %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
