
  <div class="page-head">
    <h3 class="content__heading">People</h3><!--
    --><aside class="nav nav--search">

    <%= form_tag people_path, class: 'search-bar', method: :get do |f| %>
    <%= text_field_tag :by_name, params[:by_name], :placeholder => 'Search for names or skills...' %>
    <button class="btn btn--search"><span class="icon-search"></span></button>
    <%= hidden_field_tag :has_skill, params[:has_skill] %>
    <% end %>

  </aside>
</div>
<div class="main__content">
  <div class="profiles">

    <% @users.each do |user| %>
    <div class="profile">
      <div class="profile__info"
          style="background-image: url('<%= user.backgroundimg.url %>'); width: 100%; background-size: 100%; 		background-color: #555; ">
        <div class="profile__img">
          <a href="/<%= user.user_name %>"><img src="<%= user.avatar_url %>" alt=""></a>
        </div><!--
        --><div class="profile__blurb">
        <h1 class="people--name"><a href="/<%= user.user_name %>"><%= user.full_name %></a></h1>
        <p><%= truncate(user.bio, :length => 150) %></p>
      </div>
    </div>
  </div>




  <% end %>


</div>
</div>
