<div class="col-md-5 event-search p-search">
  <%= form_tag people_path, method: :get do |f| %>
  <div class="input-group">
    <%= text_field_tag :by_skill_or_location, params[:by_skill_or_location], :placeholder => 'Find incredible humans', class: 'form-control' %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <% end %>
<!-- /input-group -->
</div>
<!-- /.col-lg-6 -->
<div class="body-content profile-main">

  <h3 style="padding-left:20px;">People</h3>
  <div class="" style="margin-top:50px;">
    <% @users.each do |user| %>
    <div class="col-md-4 col-sm-6">

      <a href="/<%= user.user_name %>">
        <div class="user user_one">
          <div class="profile-image">
            <%= image_tag user.avatar_url, class: "user-avatar" %>
          </div>
          <div class="profile-body">
            <h3><%= user.full_name %></h3>
            <p><%= user.bio %></p>
          </div>
        </div>
      </a>
    </div>
    <% end %>

  </div>
</div>
