   
      
     
         <div class="page-head">
        <h3 class="content__heading">Inspiration</h3><!--
        --><nav class="nav nav--filter">
          <ul>
            <li><a href="">Filter:</a></li>
            <li class="nav--filter__all"><a href="">All</a></li>
            <li class="nav--filter__design"><a href="">Design</a></li>
            <li class="nav--filter__web"><a href="">Web</a></li>
            <li class="nav--filter__business"><a href="">Business</a></li>
            <li class="nav--filter__social"><a href="">Social</a></li>
            <li class="nav--filter__events"><a href="">Events</a></li>
          </ul>
        </nav>
      </div>
      
<div class="main__content">  
      
          

 
  <% @articles.each do |article| %>
  
        <div class="l-article">
          <h5 class="ribbon ribbon--<%=article.tag%>"><%= article.tag %></h5>
          <div class="article-img">
            <img src="<%= article.thumbnail %>" alt="">
          </div>
          <article class="article-content">
            <h1 class="h6"><%= article.name %></h1>
            <p><%= article.description %></p>
            <%= link_to article.cta_button, article, class: "btn btn--primary" %>
            
            
          </article>
        </div>
        <% end %> 
        
        
 </div>

