 <article class="article-post">
        <div class="article-post__head">
          <img src="<%= @article.body_img1 %>" class="article-post__img article-post__img--head" alt="">
          <div class="article-post__detail">
            <h1 class="h5 type--light">Created By <%= current_user.user_name %></h1>
            <img src="<%= current_user.avatar_url %>" class=" profile__article--img" alt="">
          </div>
        </div>
        <div class="article-post__content">
          <h1><%= @article.description %></h1>
          <p><%= @article.content %></p>
        </div>
        <img src="<%= @article.body_img1 %>" class="article-post__img" alt="">
        <div class="article-post__content">
          
          <p><%= @article.content %></p>
          <section class="post-social">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google-plus"></i>
          </section>
        </div>
      </article>




<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @article.thumbnail %>
</p>

<p>
  <strong>Video Id:</strong>
  <%= @article.video_id %>
</p>

<p>
  <strong>Body_img1:</strong>
  <%= @article.body_img1 %>
</p>

<p>
  <strong>Bg_img:</strong>
  <%= @article.bg_img %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @article.tag %>
</p>

<p>
  <strong>CTA_Button:</strong>
  <%= @article.cta_button %>
</p>

<br />
- - - 
<br />
<strong>Thumbnail Image renderred:</strong><br />
<img src="<%= @article.thumbnail %>" height="100px">
<br />

<strong>Body Image 1 renderred:</strong><br />
<img src="<%= @article.body_img1 %>" height="175px">
<br />

<strong>Background Image renderred:</strong><br />
<img src="<%= @article.bg_img %>" height="250px">

<br />
<br />

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<style>
body{
  background: url(<%= @article.bg_img %>);
}
</style>