<div class="inspiration-single">

       <div class="inspiration-single-header" style="background-image: url(<%= @article.header.url %>);">



       </div>

       <div class="inspiration-single-body" id="video-embed">

           <h1><%= @article.description %></h1>

           <p><%= @article.content.html_safe %></p>

           <%= image_tag @article.body1.url %>

            <p>
              <%= @article.content2.html_safe %>
            </p>

       </div>


  </div>

</div>

<style>
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))  no-repeat fixed, url(<%= @article.background.url %>);
}
</style>
