<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :venue %>
    <%= f.input :date_time %>
    <%= f.input :description %>
    <%= f.input :ext_url %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<br />

<% end %>
