<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
	
	<%= f.label :location %>
	<%= f.select :location, options_for_select(
  				%w[Edinburgh Perth Aberdeen Dundee Glasgow Inverness Stirling]) %>
    <%= f.input :venue %>
    <%= f.input :date_time %>
    <%= f.input :description %>
    <%= f.input :ext_url %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<br />



	<nav class="nav--main" role="navigation">
      <ul>
        <li>
          <a href="#">
            <h1 class="logo">Logo</h1>
          </a>
        </li>
        <li>
          <a href="<%= articles_path %>">
            <i class="icon-lightbulb"></i>
          </a>
        </li>
        <li>
          <a href="<%= events_path %>">
            <i class="icon-calendar is-active"></i>
          </a>
        </li>
        <li>
          <a href="<%= funds_path %>">
            <i class="icon-pound"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-person"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-comment-o"></i>
          </a>
        </li>
        <li class="nav--main__profile-cont">
          <a href="/<%= current_user.user_name %>">
            <img src="<%= current_user.avatar_url %>" alt="" class="nav--main__profile">
          </a>
        </li>
      </ul>
    </nav>

<% end %>
