<div class="page-head">
        <h3 class="content__heading">Events</h3>
      </div>
      
      <div class="l-events">
 <div class="main__content">      
         <% @events.each do |event| %>
    
        
          <div class="l-event">
            <div class="event-info">
              <div class="event-date">
                <h3><%= event.date_time.strftime("%e") %></h3>
                <p><%= event.date_time.strftime("%b") %></p>
              </div><!--
              --><div class="event-blurb">
                <h4><a href="http://<%=event.ext_url%>"><%= event.title %></a></h4>
                <small><%= event.venue %>, <%= event.location_list %></small>
                <small>10:00am – 5:00pm</small>
                <p><%= event.description %></p>
              </div>
            </div>
          </div>
        
        <% end %> 
        </div>
 </div>