<h1>Listing funds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Source</th>
      <th>Type</th>
      <th>Age range</th>
      <th>Deadline</th>
      <th>Location</th>
      <th>External URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.title %></td>
        <td><%= fund.source %></td>
        <td><%= fund.type %></td>
        <td><%= fund.age_range %></td>
        <td><%= fund.deadline %></td>
        <td><%= fund.location %></td>
        <td><%= fund.ext_url %></td>
        <td><%= link_to 'Show', fund %></td>
        <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
        <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund', new_fund_path %>



	<nav class="nav--main" role="navigation">
      <ul>
        <li>
          <a href="#">
            <h1 class="logo">Logo</h1>
          </a>
        </li>
        <li>
          <a href="<%= articles_path %>">
            <i class="icon-lightbulb"></i>
          </a>
        </li>
        <li>
          <a href="<%= events_path %>">
            <i class="icon-calendar"></i>
          </a>
        </li>
        <li>
          <a href="<%= funds_path %>">
            <i class="icon-pound is-active"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="icon-person"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-comment-o"></i>
          </a>
        </li>
        <li class="nav--main__profile-cont">
          <a href="/<%= current_user.user_name %>">
            <img src="<%= current_user.avatar_url %>" alt="" class="nav--main__profile">
          </a>
        </li>
      </ul>
    </nav>
	

      <div class="top-bar">
        <a href="#" class="menu-link menu-link--light"><i class="fa fa-bars"></i> Menu</a>
      </div>