<!DOCTYPE html>
<html>
<head>
  <title>Imframe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<img src="<%= current_user.avatar_url %>" height= "50px">
	<%= current_user.first_name %>
</div>

<%= yield %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
</body>
</html>
