<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="createdbycampfire.com">
  <title>Ignited Minds</title>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "application" %>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= javascript_include_tag "application" %>

      <%= yield :head %>
        <script>
          $(document).ready(function() {

            $(".player").mb_YTPlayer();

          });

          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                $('#objectID').css('background', 'transparent url(' + e.target.result + ') left top no-repeat');
              }

              reader.readAsDataURL(input.files[0]);
            }
          }

          $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
          });
        </script>
</head>


<body class="app">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" style="float:left">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
      </div>


      <div class="btn-group settings-buttons">
        <button type="button" class="btn btn-settings dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="margin-left:-30px;">
          <li><a href="app.settings.html">Settings</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>

        </ul>
      </div>

    </div>
  </nav>


  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">

    <ul class="nav navbar-nav">
      <li>
        <a href="app.index.html">
          <%= image_tag 'logo.png' %>
        </a>
      </li>
      <li class=""><a href="<%= people_path %>"><i class="icon-person"></i> <span class="sr-only">(current)</span></a></li>
      <li><a href="<%= articles_path %>"><i class="icon-lightbulb"></i></a></li>
      <li><a href="<%= events_path %>"><i class="icon-calendar"></i></a></li>
      <li><a href="<%= funds_path %>"><i class="icon-pound"></i></a></li>
      <li><a href="app.missions.html"><i class="fa fa-rocket"></i></a></li>
      <li><a href="<%= posts_path %>"><i class="fa fa-comment-o"></i></a></li>

      <ul class="nav nav-sidebar-lower">
        <li>
          <a href="app.profile.html">
            <%= image_tag current_user.avatar.url %>
          </a>
        </li>
      </ul>

    </ul>
  </nav>


  <div class="row">
    <div class="col-sm-2 col-md-1 sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <a href="#">
            <%= image_tag 'logo.png' %>
          </a>
        </li>
        <li class=""><a href="<%= people_path %>" data-toggle="tooltip" class="tip-right" data-original-title="People" class="nav-tooltip"><i class="icon-person"></i> <span class="sr-only">(current)</span></a></li>
        <li><a href="<%= articles_path %>" data-toggle="tooltip" class="tip-right" data-original-title="Inspiration"><i class="icon-lightbulb"></i></a></li>
        <li><a href="<%= events_path %>" data-toggle="tooltip" class="tip-right" data-original-title="Events"><i class="icon-calendar"></i></a></li>
        <li><a href="<%= funds_path %>" data-toggle="tooltip" class="tip-right" data-original-title="Funding"><i class="icon-pound"></i></a></li>
        <li><a href="app.missions.html" data-toggle="tooltip" class="tip-right" data-original-title="Missions"><i class="fa fa-rocket"></i></a></li>
        <li><a href="<%= posts_path %>" data-toggle="tooltip" class="tip-right" data-original-title="Discussions"><i class="fa fa-comment-o"></i></a></li>

        <ul class="nav nav-sidebar-lower">
          <li>
            <a href="/<%= current_user.user_name %>">
              <%= image_tag current_user.avatar.url %>
            </a>
          </li>
        </ul>

      </ul>
    </div>

    <div class="col-md-11 body-content">
      <!-- content -->
      <%= yield %>
      <!-- /content -->
    </div>
  </div>
  <%= yield :body_end %>
</body>

</html>
